# Server Environment Configuration
PORT=5005
NODE_ENV=development

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/elow

# Auth & Security
JWT_SECRET=your_jwt_secret_key_here
FRONTEND_URL=http://localhost:5173

# Admin Initial Credentials
ADMIN_NAME=Elow Admin
ADMIN_EMAIL=admin@elow.com
ADMIN_PASSWORD=AdminSecret123!

# Stripe API (Optional for production payments)
STRIPE_SECRET_KEY=sk_test_example
